<html>
    <body style = "background-color: #072644;">
        <h1 style="text-align: center; color:white; font-family:roboto; font-weight: 300; font-size: 35.2px;">Team Liquid welcomes you to the esports wiki</h1>
        <h2 style="text-align: center; color:white; font-family:'Times New Roman', Times, serif; font-size: 80px;"><img src="{{logo}}" alt="" width="500" height="100"> </h2>
        <p style="text-align: center; color:white; font-family:roboto; font-size: 22.4px; font-weight: 400;">Made by the esports community for the esports community</p>

       <span class = "dropdown">
           <button class="btn1 btn-secondary dropdown-toggle " type = "button" data-bs-toggle="dropdown" style="border-radius: 0%;">
               Wild Rift
           </button>
           <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">
                    Dota 2
               </a></li>
               <li><a class="dropdown-item" href="#">
                    Counter-Strike
                </a></li>
                <li><a class="dropdown-item" href="#">
                    VALORANT
                </a></li>
                <li><a class="dropdown-item" href="#">
                    PUBG
                </a></li>
                <li><a class="dropdown-item" href="#">
                    Rocket League
                </a></li>
                <li><a class="dropdown-item" href="#">
                    Apex Legends
                 </a></li>
                 <li><a class="dropdown-item" href="#">
                    Starcraft II
                </a></li>


           </ul>
       </span>

          <span class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search..." aria-label="Search"
              aria-describedby="search-addon" />
            <button type="button" class="btn2 btn-outline-primary">Search</button>
          </span>
    </body>

</html>

