<html>
    <body style = "background-color: #072644;">
        <h1 style="text-align: center; color:white; font-family:roboto; font-weight: 300; font-size: 35.2px;">Team Liquid welcomes you to the esports wiki</h1>
        <h2 style="text-align: center; color:white; font-family:'Times New Roman', Times, serif; font-size: 80px;"><b>liquipedia</b> </h2>
        <p style="text-align: center; color:white; font-family:roboto; font-size: 22.4px; font-weight: 400;">Made by the esports community for the esports community</p>

       <span class = "dropdown">
           <button class="btn1 btn-secondary dropdown-toggle " type = "button" data-bs-toggle="dropdown">
               Wild Rift
           </button>
           <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">
                    Dota 2
               </a></li>
               <li><a class="dropdown-item" href="#">
                    Counter-Strike
                </a></li>
                <li><a class="dropdown-item" href="#">
                    VALORANT
                </a></li>
                <li><a class="dropdown-item" href="#">
                    PUBG
                </a></li>
                <li><a class="dropdown-item" href="#">
                    Rocket League
                </a></li>
                <li><a class="dropdown-item" href="#">
                    Apex Legends
                 </a></li>
                 <li><a class="dropdown-item" href="#">
                    Starcraft II
                </a></li>


           </ul>
       </span>

          <span class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search..." aria-label="Search"
              aria-describedby="search-addon" />
            <button type="button" class="btn2 btn-outline-primary">Search</button>
          </span>
    </body>





<div class="nav-contribute">
    <body style = "background-color: #072644;">
      <h1 style="text-align: center; color:white; font-family:roboto; font-weight: 300; font-size: 35.84px; ">How to Contribute</h1>
      <h2 style="text-align: center; color:white; font-family:'Times New Roman', Times, serif; font weight: 400; font-size: 22.4px;">It's fun. easy and rewarding to help esports.</h2>
      </body>
    </div>
    <p style=""></p>


  <div class="container">
    <div class="row">
      <div class="col-sm" style = "font-size: 14.4px; font-family: arial;">
       <p> Contributing to the wiki is actually pretty easy and keep in mind that every more-correct-than-wrong contribution is valuable no matter how small. </p>

<p>When you visit Liquipedia, consider adding to it or correcting something, it doesn't have to take up much of your time and effort and it will help other visitors like yourself and Liquipedia as a whole. </p>

<p>Many people start by fixing typos, which is actually the easiest way to contribute. You just have to create an account—if you don't have one already—log in, click edit, find and fix the typo, click save, and you are done. </p>

<p>Another thing that many contributors start with is keeping tournament results up to date while the tournament is ongoing. Most of the times the pages are already set up by one of the more experienced contributors, and you just have to fill in the results as they happen. Filling a bracket is pretty straightforward. You log in, click on edit, find the bracket, update scores and fill in names. If you are unsure, just look at how it was done on other pages, either by just looking at the page itself, or by clicking edit to examine how the page was created. In general, looking at how things are done on other pages gives you a good idea of how you can do it yourself. </p>

<p>If you feel comfortable with wiki editing or if you want to learn things that are more advanced, feel free to browse our "How to contribute" sections you can find in the menus on the left of the wiki pages. You can 
  <a href style="color: #002bb8;">find us on our Discord server </a>
  where other contributors can help you.</p>
      </div>
      <div class="col-sm" style = "font-size: 14.4px; font-family: arial;">
        <h6 style = "font-size: 16.846px;"><b>Logging in and registering</b></h6>
        <p>To log in and edit Liquipedia you need a TeamLiquid account. To register an account, click on the "
         <a href style="color: #002bb8;"> create account </a>
          " link on any wiki page, just remember to follow the instructions and complete the registration.
          Once you have an account go click on the log in box in the top right and enter your details or if logged in on any of the three sites mentioned just click on the TL quick log in link.</p>

          <h6 style = "font-size: 16.846px;"><b>Editing</b></h6>

        <p>There are two types of edit links. One is a tab at the top of the page which lets you edit all sections of the page at once. The second is on the far right side of all sub-headers, this allows you to edit the specific section you are on.
        When editing a page you will have some tools in a toolbar above the editing box to help you with the markup language that the wiki uses for things like bold text, italics, headers, and links. To know more about the wiki markup language visit 
        <a href style="color: #002bb8;">Wikipedia's Help: Wiki markup</a>
        .</p>

        <h6 style = "font-size: 16.846px;"><b>Areas to help out with</b></h6>

        <p>There are multiple things one can do to help out with on the wikis. Besides fixing typos or entering results you can: </p>

        <ul>
          <li>List an interview a player has done on the player's page.</li>
          <li>Add social media links on a team's or player's page.</li>
          <li>Fill out a player's page with information from interviews they've done and add references</li>
        </ul>

      </div>
      <div class="col-sm" style = "font-size: 14.4px; font-family: arial;">
        <ul>
          <li>Write part of the history of an organization, tournament, player, or team and add references.</li>
          <li>Update a player's or team's result pages with recent results.</li>
          <li>Add the times when a match starts to brackets or groups.</li>
          <li>Add general game information, either to an existing article or make a new one for a topic that is missing.</li>
          <li>Update strategy pages and create pages for new strategies.</li>
          <li>Create new pages for tournaments, players, or teams (if they meet the liquipedia notability guidelines for that game.)</li>
          <li>Give the wiki the right to display your photographs and upload them to the wiki.</li>
          <li>Develop new templates to make our wikis look good and make contributing easier.</li>
          <li>Use knowledge of PHP, JS, CSS, HTML, or graphic design to improve on any element that you find the wikis are lacking in.</li>
          <li>Help other contributors in our 
            <a href style="color: #002bb8;">Discord server</a>
            , especially newer ones.</li>
          <li>Spread the word that everyone can help grow Liquipedia.</li>
          <li>Give us 
            <a href style="color: #002bb8;"> new ideas</a>
            of what we can do, even a paint scribble can help improving the wikis, if it gives us an idea of how a template could look.</li>
          <li>Correct people when they call us "LiquiDpedia" with one d too many. Liquids flow and pronouncing Liquipedia flows easier than LiquiDpedia.</li>
        </ul>
      </div>
    </div>
  </div>
  
  
  
  

  <!-- Footer -->
<footer class="text-center text-lg-start" style = "background-color: #8eaec2;">
  <!-- Grid row -->
  <div class="row mt-3">
  <!-- Grid column -->
  <div class="col-md-1 col-lg-4 col-xl-3 mx-auto mb-4">
    <!-- Content -->
    <h6 class="text-uppercase fw-bold mb-4">
      <i class="fas fa-gem me-3"></i>
    </h6>
    <p style="font-size: 12px;">
      Our 
      <span style="color: #002bb8;"></span>
    Text is licensed under 
        <span style="color: #002bb8;">CC BT-SA.</span>
     <br>Files have varied linceses. Click on an image to see the image's page for more details.
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class = "col-md-2 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    <!-- Links -->
    <div class = "nav-icons">
      <span class = "discord-icon">
      <a href><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16" style="color: #7e7b7a;">
        <path d="M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z"/>
        <path d="M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z"/>
      </svg> </a>
    </span>
      <a href><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16" style="color: #7e7b7a;">
        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
      </svg> </a>
      <a href><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" style="color: #7e7b7a;">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
      </svg> </a>
      <a href><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16" style="color: #7e7b7a;">
        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
      </svg> </a>
      <a href><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16" style="color: #7e7b7a;">
        <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
        <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
      </svg> </a>
      <a href><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16" style="color: #7e7b7a;"> 
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </svg> </a>
    </div>    
  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->
<!-- Section: Links  -->
</footer>
</html>

