<!DOCTYPE html>
<html>
<nav class = "navbar" style="background-color: #08142c">
    <ul class = "nav">
        <li class = "nav-item"><a class = "nav-link text-black" href = "#">
            
        </a></li>
        <li class = "nav-item"><a class = "nav-link text-black" href = "#">
            
        </a></li>
    </ul>
<b>
<nav class = "nav nav-text" style="height: 20px;">
    <li class = "nav-item"><a class = "nav-link text-white" href = "#">
        TLnet
    </a></li>
    <li class = "nav-item"><a class = "nav-link text-white" href = "#">
        LiquidDota
    </a></li>
    <li class = "nav-item"><a class = "nav-link text-white" href = "#">
        LiquidLegends
    </a></li>
    <li class = "nav-item"><a class = "nav-link text-white" href = "#">
        Master League
    </a></li>
    <li class = "nav-item"><a class = "nav-link text-white" href = "#">
        qihl
    </a></li>

</nav>
</b>
</nav>
</html>


