.col-sm{
    font-size: 14.4px; font-family: Arial, Helvetica, sans-serif ;
}

.bold{
    font-size: 16.846px;
}
.highlight{
    color: #002bb8;
}
.container-fluid{
    padding-left: 21%;
    padding-right: 21%;
}
.form{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.alpha{
    text-align: center;
}