
<div class="nav-contribute">
    <body style = "background-color: #072644;">
      <h1 style="text-align: center; color:white; font-family:roboto; font-weight: 300; font-size: 35.84px; ">How to Contribute</h1>
      <h2 style="text-align: center; color:white; font-family:'Times New Roman', Times, serif; font-weight: 400; font-size: 22.4px;">It's fun, easy, and rewarding to help esports.</h2>
      <p></p>
      </body>
    </div>


  <div class="container">
    <div class="row">
      <div class="col-sm" style = "font-size: 14.4px; font-family: arial;">
        <p>{{col_1_par_1}}</p>

        <p>{{col_1_par_2}}</p>

        <p>{{col_1_par_3}}</p>

        <p>{{col_1_par_4}}</p>

        <p>{{col_1_par_5_1}}

  <a href style="color: #002bb8;">find us on our Discord server </a>
        {{col_1_par_5_2}}</p>
      </div>
      
      <div class="col-sm" style = "font-size: 14.4px; font-family: arial;">
        <h6 style = "font-size: 16.846px;"><b>Logging in and registering</b></h6>
        <p>{{col_2_par_1_1}} <!--Add quotation marks around create account-->
         <a href style="color: #002bb8;"> create account </a>
         {{col_2_par_1_2}}</p>

        <h6 style = "font-size: 16.846px;"><b>Editing</b></h6>

        <p>{{col_2_par_2}}
        <a href style="color: #002bb8;">Wikipedia's Help: Wiki markup</a>
        .</p>

        <h6 style = "font-size: 16.846px;"><b>Areas to help out with</b></h6>

        <p>{{col_2_par_3}}</p>

        <ul>
          <li>List an interview a player has done on the player's page.</li>
          <li>Add social media links on a team's or player's page.</li>
          <li>Fill out a player's page with information from interviews they've done and add references</li>
        </ul>

      </div>
      <div class="col-sm" style = "font-size: 14.4px; font-family: arial;">
        <ul>
          <li>Write part of the history of an organization, tournament, player, or team and add references.</li>
          <li>Update a player's or team's result pages with recent results.</li>
          <li>Add the times when a match starts to brackets or groups.</li>
          <li>Add general game information, either to an existing article or make a new one for a topic that is missing.</li>
          <li>Update strategy pages and create pages for new strategies.</li>
          <li>Create new pages for tournaments, players, or teams (if they meet the liquipedia notability guidelines for that game.)</li>
          <li>Give the wiki the right to display your photographs and upload them to the wiki.</li>
          <li>Develop new templates to make our wikis look good and make contributing easier.</li>
          <li>Use knowledge of PHP, JS, CSS, HTML, or graphic design to improve on any element that you find the wikis are lacking in.</li>
          <li>Help other contributors in our 
            <a href style="color: #002bb8;">Discord server</a>
            , especially newer ones.</li>
          <li>Spread the word that everyone can help grow Liquipedia.</li>
          <li>Give us 
            <a href style="color: #002bb8;"> new ideas</a>
            of what we can do, even a paint scribble can help improving the wikis, if it gives us an idea of how a template could look.</li>
          <li>Correct people when they call us "LiquiDpedia" with one d too many. Liquids flow and pronouncing Liquipedia flows easier than LiquiDpedia.</li>
        </ul>
      </div>
    </div>
  </div>
