<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="overall-layout.component.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
        <div class="row">
            <app-top-heading></app-top-heading>
        </div>
        <div class="row">
            <app-contribute></app-contribute>
        </div>
        <div class="row">
            <app-bottom-footer></app-bottom-footer>
        </div>
    </div>
</body>
</html>